<script type="text/x-template" id="dropbox-template">
  <div id="dropbox-page">
    <loader v-if="!ready"></loader>
    <div v-if="ready" class="container-fluid">
      <div class="row justify-content-center header">
        <div class="col-md-8 col-sm-12">
          <h2>Welcome {{user.name}}
            <small>Listing files of the folder: <strong> {{this.folder}} </strong></small>

          </h2>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">

            <div class="files">
              <file v-for="(file, id) in files" :path="file.path" :id="file.id"></file>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <router-link class="btn btn-lg btn-primary" to="select-folder">Change folder</router-link>

            <div class="box clearfix">
                <h3>Every time a new file is found, send a request to: </h3>
                <input type="url" ref="inputUrl" v-model="newFileCallbackUrl" class="form-control" required="required">
                <span class="error" v-if="urlError">{{urlError}}</span>
                <button class="btn btn-sm btn-success btn-save-url" @click="saveUrl">
                  <span class="far fa-spinner fa-spin" v-if="savingUrl"></span>
                  <span class="far fa-check" v-if="urlSaved"></span>
                   Save</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</script>
