<script type="text/x-template" id="select-folder-template">
  <div class="select-folder">
    <div class="container-fluid">
      <div class="row justify-content-center header">
        <div class="col-md-5 col-sm-12">
          <h2>Welcome {{user.name}}
            <small>Select the folder you want to integrate</small>
          </h2>

        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12">
          <div class="folders main-list">
            <folder path="/" :selected-folder="selectedFolder" @selected="setSelected"/>
          </div>
          <button class="btn btn-success btn-confirm-folder" v-if="selectedFolder" @click="confirm"> <span v-if="saving" class="far fa-spin fa-spinner"></span> Confirm folder</button>
        </div>
      </div>
    </div>
  </div>
</script>
