@import("../node_modules/bootstrap/dist/css/bootstrap.min.css");

@mainColor: rgb(84, 175, 214);
@lightBg: rgb(237, 252, 255);
body, html {
  background: @mainColor;
}

.far {
  display: inline-block;
  font-family: "FontAwesome";
}

.shadow {
  box-shadow: 1px 2px 13px rgba(0,0,0,0.5);
}

.loader {
  color: #fff;
  font-size: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}
