<script type="text/x-template" id="login-template">
  <div id="login-page">
    <loader v-if="!ready"></loader>
    <div v-if="ready" class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-auto col-sm-12">
          <form action="">
            <h2>Entermotion trial project</h2>
            <p>Integrate and consume Dropbox API</p>
            <a :href="loginUrl" v-if="loginUrl" class="btn btn-primary"><span class="far fa-dropbox"></span> Sing up with Dropbox</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</script>
